<!doctype html>
<html>
  <head>
    <title>Jumpeee</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.85">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Saira+Extra+Condensed:600" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>var game_hash="{{ game_hash }}";</script>
    <script src="/obstacle.js"></script>
    <script src="/session.js"></script>
    <script src="/client.js"></script>
    <script src="/main.js"></script>
    <script src="/player.js"></script>
    <script src="/scripts/utils.js"></script>
  </head>
  <body>
    <section class="game-container wrap-container">
      <div class="wrap" id="controller">
        <p id="player_id">?</p>
        <p><span class="text">{{ game_hash }}</span></p>
        <p class="subtext">Session</p>
        <div class="item-container">
          <div id="jump-button" class="inactive">
            <img id="img-jump" src="/images/jump.svg">
            <img id="img-retry" src="/images/retry.svg">
          </div>
        </div>
        <p class="subtext" id="jump-button-label">Syncing with server...</p>
        <div class="item-container">
          <a href="#" class="controller-button">Convert to Host</a>
        </div>
        <p><a href="/join">Join other game</a></p>
      </div>
      <div id="game_console">
        <img src="/images/sun.png" class="sun">
        <p class="game_hash">
          <span class="url_prefix">{{ url_prefix }}</span>{{ game_hash }}
          <span class="status"><span id="no-players">1</span> player</span>
        </p>
        <canvas id="canvas"></canvas>
      </div>
    </section>
  </body>
</html>
