<!doctype html>
<html>
  <head>
    <title>Jumpeee</title>
  </head>
  <body>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>var game_hash="{{ game_hash }}";</script>
    <script src="/levels.js"></script>
    <script src="/main.js"></script>
    <script src="/ui.js"></script>
    <link href="/styles/style.css" rel="stylesheet">
    <p class="game_hash">{{ game_hash }} . <span id="no-players">1</span> players</p>
    <canvas id="canvas"></canvas>
  </body>
</html>
