<!doctype html>
<html>
  <head>
    <title>Jumpeee</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.85">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>var game_hash="{{ game_hash }}";</script>
    <script src="/levels.js"></script>
    <script src="/main.js"></script>
    <script src="/player.js"></script>
    <script src="/scripts/utils.js"></script>
  </head>
  <body>
    <p class="game_hash">{{ game_hash }}</p>
    <div id="controller">
      <p id="jump-button">Jump</p>
    </div>
    <canvas id="canvas"></canvas>
  </body>
</html>
