<!doctype html>
<html>
  <head>
    <title>Jumpeee</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <script src="/scripts/index.js"></script>
    <script src="/scripts/utils.js"></script>
  </head>
  <body>
    <section class="sparse landing wrap-container">
      <div class="wrap">
        <h1>Jumpeee</h1>
        <p>A simple platform game that transforms your laptop into a console, your mobile device into a controller.</p>
        <p>created by <a href="http://github.com/echang7">Emily Chang</a> and <a href="http://alvinwan.com">Alvin Wan</a></p>
        <a class="button" href="{{ start_url }}">Start Game</a>
        <a class="button" href="/join">Join a Game</a>
      </div>
    </section>
    <footer>
      <p><a href="http://github.com/alvinwan/jumpeee">Github</a></p>
    </footer>
  </body>
</html>
