<html>
    <head>
        <title>Jumpeee</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.85">
        <link href="/styles/landing.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Saira+Extra+Condensed:600" rel="stylesheet">
    </head>
    <body>
        <section class="landing">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="text col-md-3 col-sm-3 col-xs-10">
                <span class="bar-container">
                    <span class="bar"></span>
                </span>
                <h1>Join a Game</h1>
                <p class="copy">Got a game to join? If so, ask your game host for the 5-character token at the top-right of the screen. Enter that token below.</p>
                <form method="post" action="/join">
                    <input class="input" placeholder="xxxxx" name="game_hash" />
                    <input class="submit" type="submit" value="Go">
                </form>
                <p><a href="{{ start_url }}">New Game</a></p>
                <p class="hidden-sm hidden-md hidden-lg">by <a href="http://eemily.com">Emily Chang</a> and <a href="http://alvinwan.com">Alvin Wan</a></p>
            </div>
            <div class="col-md-5 col-sm-5 hidden-xs">
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="text col-md-1 col-sm-1 hidden-xs">
                <h1 class="hidden-xs">01</h1>
                <p>by <a href="http://eemily.com">Emily Chang</a> and <a href="http://alvinwan.com">Alvin Wan</a></p>
            </div>
        </section>
    </body>
</html>