<!doctype html>
<html>
  <head>
    <title>Jumpeee</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <script src="/scripts/index.js"></script>
    <script src="/scripts/utils.js"></script>
  </head>
  <body>
    <section class="join wrap-container">
      <div class="wrap">
        <h1>Join a Game</h1>
        <form method="post" action="/join">
            <input placeholder="xxxxx" name="game_hash" />
            <input type="submit">
        </form>
      </div>
    </section>
  </body>
</html>