* {
    padding: 0;
    margin: 0;
    font-family:'Josefin Sans';
}

.wrap-container {
    width:100%;
    text-align:center;
}

p a {
    color:#c90;
}

.wrap {
    width:70%;
    float:none;
    display:inline-block;
}

    .sparse .wrap {
        margin-top:7em;
    }

    .sparse h1 {
        font-weight:300;
        font-size:5em;
    }

    .sparse p {
        margin-top:1em;
    }

    .sparse .button {
        margin-top:1em;
    }

.join {}

    .join form {
        margin-top:1em;
    }

    .join .input {
        border:none;
        background-color:#eee;
        border-radius:0.1em;
        font-size:2em;
        padding:0.25em;
        outline:none;
        width:5em;
    }

    .join .submit {
        -webkit-appearance:none;
        outline:none;
        border:none;
        border-radius:50%;
        background-color:#333;
        color:#FFF;
        height:3em;
        width:3em;
        text-align:center;
        line-height:3em;
        font-size:1.25em;
        margin-left:-1.5em;
        cursor:pointer;
    }

.button {
    color:#000;
    text-decoration:none;
    padding:1em 1.5em;
    border:2px solid #000;
    display:inline-block;
}

    .button:hover {
        background-color:#000;
        color:#FFF;
    }

.game_hash {
    position:fixed;
    top:0;
    right:0;
    margin:2em;

}

.jump-button {
    width:10em;
    height:10em;
    color:#000;
    text-transform:uppercase;
    border-radius:50%;
    border:0.5em solid #000;
    line-height:10em;
    text-align:center;
}